.jumbotron{
	background: url(http://freenaturestock.s3.amazonaws.com/166.jpg) center center;
	height: 500px;
	background-size: 100% 100%;
}
.logo{
	width: 80px;
	height: 80px;
}
.featured h1{
	margin-top: 30px;
	font-size: 48px;
}
.featured{
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	width: 900px;
	margin-top: 20px;
	font-size: 18px;
	font-family: serif;
}
.btn-danger{
	margin: 10px;
	padding: 10px;
	text-align: center;
}
@media (min-width: 20px) and (max-width: 780px){
	.jumbotron{
	height: 500px;
	width: 600px;
	background-size: cover;
}
.logo{
	width: 50px;
	height: 50px;
}
.btn-danger{
	margin: 10px;
	padding: 0px;
	width:200px;
}
.featured h1{
	padding-top: 50px;
	font-size: 32px;
}
.featured{
	border-radius: 10px;
	width: 600px;
	margin-top: 10px;
	font-size: 14px;
}
footer img{
	width: 40px;
	height: 30px;
	padding: 5px;
	margin: 5px;
}
}
footer{
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}

footer img{
	width: 200px;
	height: 80px;
	padding: 10px;
	margin: 20px;

}